# /etc/systemd/system/loki.service
[Unit]
Description=Loki Container
After=docker.service
Requires=docker.service

[Service]
Restart=always
User=loki-admin
ExecStartPre=-/usr/bin/docker stop loki
ExecStartPre=-/usr/bin/docker rm loki
ExecStart=/usr/bin/docker run --name loki \
-p 3100:3100 \
--network monitoring \
-v /opt/loki/config:/etc/loki \
-v /opt/loki/data:/tmp/loki \
grafana/loki:latest \
-config.file=/etc/loki/local-config.yaml
ExecStop=/usr/bin/docker stop loki

[Install]
WantedBy=multi-user.target
